/* Reset de estilos para limpar estilos padrão do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos Gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para a navegação */
nav ul {
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  gap: 25px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* Estilos para a seção "estudante" */
.estudante {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.estudante section {
  text-align: center;
}

.titulo_nome {
  font-weight: bold;
  font-size: 24px;
}

.estudante button {
  background-color: #ff6464;
  width: 150px;
  height: 35px;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

/* Estilos para as seções de notícias e trabalhos */
.noticias,
.trabalhos {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.noticias section,
.trabalhos section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.artigo,
.trabalho {
  background-color: white;
  padding: 20px;
  flex: 1;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.atualizacao {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
}

.data {
  border-right: 1px solid black;
  width: 50%;
}

.trabalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titulo_trabalho {
  font-weight: bolder;
  font-size: x-large;
  margin-bottom: 10px;
}

.img2 {
  width: 150px;
  height: 110px;
}

.trabalho p {
  font-size: small;
}

.trabalhos h4 {
  font-weight: lighter;
}

.ano_categoria {
  display: flex;
  gap: 20px;
  font-weight: lighter;
}

.ano {
  background-color: #142850;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 50px;
  font-size: small;
  align-items: center;
}

.img_footer {
  width: 25px;
  height: 25px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Media Queries para Responsividade */

/* Tamanhos de tela menores que 480px */
@media screen and (max-width: 480px) {
  .estudante {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
  }

  .titulo_nome {
    font-size: 20px;
  }

  .estudante button {
    width: 100%;
  }

  .noticias,
  .trabalhos {
    padding: 10px;
  }

  .artigo,
  .trabalho {
    padding: 15px;
  }
}

/* Tamanhos de tela entre 481px e 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav ul {
    gap: 15px;
  }
}

/* Tamanhos de tela entre 769px e 1279px */
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .estudante {
    padding: 40px 20px;
    gap: 40px;
  }

  .noticias,
  .trabalhos {
    padding: 20px;
  }

  .artigo,
  .trabalho {
    padding: 20px;
  }
}

/* Tamanhos de tela maiores que 1279px */
@media screen and (min-width: 1280px) {
  .estudante {
    padding: 80px 60px;
    gap: 80px;
  }

  .noticias,
  .trabalhos {
    padding: 20px 60px;
  }

  .artigo,
  .trabalho {
    padding: 20px;
  }
}
